.order-div {
  position: absolute;
  width: 90%;
  height: 90vh;
  top: 5%;
  left: 5%;
  padding: 30px;
  border: 1px solid rgba(34, 34, 34, 0.397);
  border-radius: 6px;
  background-color: #fff;
  font-size: 20px;
  z-index: 22;
}
.order-div .close {
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 25px;
  cursor: pointer;
}
.order-div .close:hover {
  color: red;
}
.order-div .title-order-done {
  background-color: rgba(19, 178, 83, 0.7019607843);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}
@media (max-width: 567px) {
  .order-div .title-order-done {
    margin-top: 20px;
  }
}
.order-div ul {
  width: 100%;
}
.order-div ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 6px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.397);
  width: 100%;
  margin-top: 10px;
}
@media (max-width: 567px) {
  .order-div ul li {
    display: block;
  }
  .order-div ul li span {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .order-div ul li :last-child span:first-child {
    margin-bottom: 10px;
  }
}
.order-div ulli:last-child {
  border-bottom: 1px solid rgb(34, 34, 34);
}