.container-login-logo {
    width: 20%;
    background-color: #3a5154;
    float: right;
    margin-left: 40px;
    margin-bottom: 8px;
    border-radius: 14px 0 0 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 6px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;

    &.actived {
        padding: 15px 0;
    }

    .login {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;

        .details-logo {
            width: 10px;
            margin: 0 4px 0 6px;

            i {
                margin: 6px;

                &:hover {
                    color: rgba(0, 255, 255, 0.776)
                }
            }

            div {
                display: none;
                width: fit-content;
                line-height: 30px;
                padding: 10px;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;

                &.active {
                    display: block;
                    position: absolute;
                    bottom: -159px;
                    color: #fff;
                    background-color: rgba(34, 34, 34, 0.727);
                    z-index: 31;

                    @media(max-width:1024px) {
                        width: 99%;
                        left: -.1px;
                    }
                }

                span {
                    display: block;
                    width: 100%;
                    border-bottom: 1px solid rgb(111, 106, 106);
                    padding: 2px;
                    margin: 6px 0;

                    &:hover {
                        color: rgba(0, 255, 255, 0.776);
                    }

                    &.log-out:hover,
                    &.log-out:hover i {
                        color: red;
                    }
                }

                & span i {
                    float: right;
                    margin-top: 5px;
                }
            }

            i {
                color: #fff;
                cursor: pointer;
                transition: .3s;
            }

            &.actives i {
                transform: rotate(180deg);
            }
        }

        .info {
            width: 96%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media(max-width:1024px) {
                justify-content: center;
                color: red;

                img {
                    margin: 0;
                }

                span {
                    margin-right: 15px !important;
                    width: fit-content !important;
                }
            }

            img {
                width: 50px;
                border-radius: 50%;
                border: 1px solid rgb(17, 126, 204);
                padding: 1px;
                margin-right: 8px;
            }

            span {
                margin: 2px;
                font-size: 18px;
                color: #EEE;
                width: 60%;
                text-align: center;
            }
        }

    }

    .sign-up {
        text-align: center;
        width: 100%;
        color: #fff;
        transition: .2s;

        a {
            text-decoration: none;
            font-size: 20px;
            color: #fff;
            margin-right: 7px;
        }

        &:hover {
            transform: translateY(1px);
            color: #b7673c;

            a {
                color: #b7673c;
            }
        }
    }

    @media(max-width:1024px) {
        width: 95vw;
        float: none;
        margin: 10px auto -7px 0;
        border-radius: 8px;
    }

    @media(min-width:1245px) {
        width: 15%;
    }
}