.footer {
  display: block;
  position: relative;
  width: 100%;
}
.footer .main {
  display: flex;
}
@media (max-width: 567px) {
  .footer .main {
    display: block;
    text-align: center;
  }
}
.footer .main .footer-logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 35px;
}
.footer .main .footer-logo p {
  cursor: pointer;
}
@media (max-width: 567px) {
  .footer .main .footer-logo {
    margin: 30px auto;
  }
}
.footer .main .footer-links {
  width: 38%;
  margin-top: 40px;
  font-size: 22px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}
@media (max-width: 567px) {
  .footer .main .footer-links {
    margin: 20px auto;
    width: 44%;
  }
}
.footer .main .footer-links ul {
  list-style: none;
}
@media (max-width: 567px) {
  .footer .main .footer-links ul {
    margin-left: 10px;
    text-align: left;
  }
}
.footer .main .footer-links ul li {
  margin: 13px;
  cursor: pointer;
}
.footer .main .footer-links ul li:hover {
  color: rgba(0, 255, 255, 0.776);
}
.footer .social {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 20px auto;
}
.footer .social i {
  margin: 7px;
  cursor: pointer;
  font-size: 23px;
}
.footer .social i.fa-facebook {
  color: #225edf;
}
.footer .social i.fa-twitter {
  color: #00acee;
}
.footer .social i.fa-instagram {
  color: #E1306C;
}
.footer .social i.fa-google-plus-g {
  color: #de5246;
}
.footer .social i.fa-linkedin {
  color: #0799e7;
}
.footer .footer-word {
  margin-top: 12px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
@media (max-width: 567px) {
  .footer {
    margin-top: 0;
    height: 530px;
  }
}