.nav {
    background-color: #eee;
    text-align: center;
    width: 100%;

    li {
        display: inline-block;
        list-style: none;
        margin: 5px 15px;

        a {
            text-decoration: none;
            color: #fff;
            background-color: #ddd;
            display: block;
            padding: 5px 10px;

            &.active {
                background-color: #2b2b2cf2;
            }
        }
    }

    .logo-nav {
        display: none;
    }

    @media(max-width:1024px) {
        display: none;

        &.active {
            display: block;
            width: 100vw;
            background-color: #fff;
            padding-left: 10px;
            border-radius: 6px;
            text-align: left;


            ul li {
                display: block;
                border-bottom: 1px solid #222;
                margin-bottom: 10px;
                margin-top: 10px;
                padding: 5px;

                a {
                    background-color: #fff;
                    color: #222;

                    &.active {
                        background-color: #fff;

                    }
                }
            }
        }

        .logo-nav {
            display: block;
        }
    }
}